@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

.transition_prop {
  @apply transition ease-linear duration-300;
}

.gradient-primary {
  @apply bg-gradient-to-br from-blue-500 via-pink-700 to-rose-300;
}

.text-primary {
  @apply font-extralight text-[14px] xl:text-[16px];
}

.form_label {
  @apply relative flex flex-col gap-[4px] xl:gap-[6px] font-normal text-slate-500 dark:text-white;
}

.submit-btn_text-outline::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;

  /* background-color: transparent; */
  /* background-image: linear-gradient(to bottom right, var(--tw-gradient-stops)); */
  @apply rounded-md gradient-primary shadow-sm dark:shadow-zinc-100 opacity-0 group-hover:opacity-100 transition_prop delay-300;
}

.form_input {
  @apply p-[4px] focus:outline-none font-extralight text-[14px] placeholder:text-gray-400 placeholder:opacity-100;
}

.form_input:-webkit-autofill,
.form_input:-webkit-autofill:hover,
.form_input:-webkit-autofill:focus,
.form_input:-webkit-autofill:active {
  -webkit-text-fill-color: inherit;
  -webkit-box-shadow: 0 0 0px 1000px inherit inset;
  transition: background-color 5000s ease-in-out 0s;
}

.project-grid_item {
  flex-basis: calc((100% - 16px) / 1);
}

.stack-card {
  flex-basis: calc((100% - 1 * 16px) / 2);
}

.certificate-card {
  flex-basis: calc((100%) / 1);
}

@media screen and (min-width: 320px) {
  .stack-card {
    flex-basis: calc((100% - 2 * 16px) / 3);
  }
}

@media screen and (min-width: 480px) {
  .project-grid_item {
    flex-basis: calc((100% - 1 * 16px) / 2);
  }
}

@media screen and (min-width: 768px) {
  .project-grid_item {
    flex-basis: calc((100% - 1 * 32px) / 2);
  }

  .soc-card {
    flex-basis: calc((100% - 3 * 16px) / 4);
  }
}

@media screen and (min-width: 1280px) {
  .project-grid_item {
    flex-basis: calc((100% - 2 * 32px) / 3);
  }

  .stack-card {
    flex-basis: calc((100% - 3 * 16px) / 4);
  }

  .certificate-card {
    flex-basis: calc((100% - 1 * 16px) / 2);
  }
}

/* :root {

} */

/* @media (prefers-color-scheme: dark) {
  :root {
  }
}

body {
} */
