@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

.transition_prop {
  @apply transition ease-linear duration-300;
}

.gradient-primary {
  @apply bg-gradient-to-br from-blue-500 via-pink-700 to-rose-300;
}

.project-grid_item {
  flex-basis: calc((100% - 16px) / 1);
}

@media screen and (min-width: 480px) {
  .project-grid_item {
    flex-basis: calc((100% - 1 * 16px) / 2);
  }
}

@media screen and (min-width: 768px) {
  .project-grid_item {
    flex-basis: calc((100% - 1 * 32px) / 2);
  }
}

@media screen and (min-width: 1280px) {
  .project-grid_item {
    flex-basis: calc((100% - 2 * 32px) / 3);
  }
}

/* :root {

} */

/* @media (prefers-color-scheme: dark) {
  :root {
  }
}

body {
} */
